
#party_id, #content, #location, #hostess, #user{
display: block;
}


.container{
    padding-top: 40px;
}


header{
    width: 100%;
    background-color: #231f20 !important; 
    padding-top: 10px;
    text-align: center;
    color: antiquewhite;
    border-bottom: 2px  solid antiquewhite;
}
h3{
    color: #618e2f;
    font-weight: bold;
}
span{
    font-size: 20px;
    font-weight: bold;
    color: #618e2f;
}

.home-content{
    padding-top: 10px;
    color: antiquewhite !important;
    background-color: #231f20;
}

#map{
    margin: auto;
    background-color: #231f20 !important;
    width: 90%; 
    height: 500px;
}

.location-input{
    margin-top: 15px;
    margin: auto;
    width: 60%;
    margin-bottom: 5px;
}

.location-input #location{
    width: 80%;
    float: left;
}

label{
    width: 100%;
    font-size: 20px;
    text-align: center;
}

.fa-check{
    padding-top: 2px;
    font-size: 20px;
    margin-left: 5px;
}

#icon-button{
    margin-left: 2px;
    border: 0;
    color: antiquewhite;
    background-color: #231f20;
}