
<header>
  <h1>How it works?</h1>
  <h3>Easy as that!</h3>
  <div class="container">
    <div class="row">
      <div class="col-sm">
          <span> Enter your location</span>
          <label>Just set the pin in map above</label>
      </div>
      <div class="col-sm">
        <span> Enter your order </span>
        <label>Delivers will know what u are willing to get!</label>

      </div>
      <div class="col-sm">
        <span> Get your delivery and hostess! </span>
        <label> Delivers and hostess will let you know if they want to serve your party! </label>
      </div>
    </div>
  </div>
</header>

<div class="home-content">
  <form id="partyForm" ngNativeValidate [formGroup]="orderForm" (ngSubmit)="onSubmit()">
    <div *ngIf="scene === 0">
      <div class="location-input">
        <label>Pick your location!</label>
        <input id="location" type="text" placeholder="Location" formControlName="location" required>
        <div class="icon">
          <button (click)="changeView()" [disabled]="orderForm.invalid" id="icon-button">
            <i class="fas fa-check"></i>
          </button>
        </div>
      </div>
      <div id="map" #map></div>
      <button type="submit" class="btn btn-light">Pick!</button>
    </div>

    <div *ngIf="scene === 1">
      <h4>Pick your content!</h4>
    </div>
  </form>
</div>

<button (click)="session()">clear</button>