<!--The content below is only a placeholder and can be replaced.-->
<div class="containter">
  <div class="row">
    <div class="col-lg-3">
      <div class="d-flex" id="wrapper">
        <div class="bg-light border-right" id="sidebar-wrapper">
          <div class="list-group list-group-flush">
            <a routerLink="/party" routerLinkActive="active" class="list-group-item list-group-item-action bg-light">Party</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">History</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-9">
      <div class="app-home-div">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
      

